<div id="container">
<div id="blackeffect" class="container-fluid">
    <header>
        <div class="btn-toolbar justify-content-between">
            <div class="btn-group">
                <h2 class="text-danger">
NETFLIX
                </h2>
            </div>
                <div class="btn-group">
<button class="btn-danger">
    Sign In
</button>
                </div>

            </div>
        
    </header>
    <section style="height: 700px;" class="d-flex justify-content-center align-items-center">
<div class="text-center text-white w-30" >
<h1>
    Unlimited movies, TV shows and more.

</h1>
<h3>
    Watch anywhere. Cancel anytime.
</h3>
<app-register></app-register>

</div>

    </section>
    
</div>

</div>
